
@{
    ViewBag.Title = "Deleted";
}

<div class="text-center">
    <h1>Empleado dado de baja correctamente.</h1>
    <a href="@Url.Action("Index", "Empleados")" class="btn btn-default">Volver a la Lista de Empleados</a>
</div>
<hr>
