
@{
    ViewBag.Title = "DeleteMessage";
}

<!-- /.row -->
<div class="row text-center">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <br><br>
        <h1 class="page-title text-center"><b>Declaracion del Empleado Eliminado Correctamente.</b></h1>
        <div class="row">
            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                <h3 class="text-center">La Declaracion Jurada del Empleado se ha Eliminado con éxito. </h3>
                <a class="btn btn-default" href="@Url.Action("Index","DetallesDeclaracionJurada", new { id = ViewBag.idDeclaracion }, null)">CONTINUAR</a>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<!--row -->