@model DAL.Models.LicenciaLaboral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LicenciaLaboral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-xs-offset-4 col-xs-2 col-md-offset-5 col-md-1">
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-xs-2 col-md-1">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdLicenciaLaboral }, new { @class = "btn btn-default" })
    </div>
</div>
<br /><br />
