@model SecSisBoletas.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
}

<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div class="row" id="wrapper-usuario">
    <div class="col-md-6" id="inner-wrapper-usuario">
        <img src="~/Areas/Empresas/Content/images/XindicoWeb-logo-min.png" class="img-responsive">
        <br>
        <h3>Sistema Web de Generación de Boletas de Aportes Sindicales del Sindicato de Empleados de Comercio de San Francisco</h3>
        <br>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="box-title"><b>Restablecer Contraseña</b></h3>
            <span>Si olvidaste la contraseña para acceder al sistema, puedes restablecerla ingresando el email asociado a la cuenta</span>
            <br><br>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="email" name="Email" id="Email" required placeholder="Email de la cuenta asociada">
                </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">RESTABLECER</button>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    <br />
                    <p>¿Ya tiene una cuenta de usuario?. <a href="login"><b>Login</b></a></p>
                    <br/>
                    <i class="fa fa-user m-r-5"></i> ¿No Dispones de una cuenta?. <a href="register"><b>Crear Cuenta</b></a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6" id="background-usuario"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!-- jQuery -->
<script src="~/Areas/Empresas/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Areas/Empresas/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="~/Areas/Empresas/Content/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/Areas/Empresas/Content/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Areas/Empresas/Content/js/custom.min.js"></script>
<!--Style Switcher -->
<script src="~/Areas/Empresas/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>